<h1></br>
    Dodaj się do listy gości</h1>
<form action="/" method="post">
    <label>
        <input type="text" placeholder="Imię nowego gościa" name="name">
    </label>
    <label>
        <input type="text" placeholder="Nazwisko  nowego gościa" name="lastName">
    </label>
    <button type="submit">Dodaj</button>
</form>
<hr>