<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Czas zadań</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
</head>
<body>
<header>
    <nav>
        <a href="/">Wszyscy</a>
        <a href="/present">Potwierdzili</a>
        <a href="/absent">Niepotwierdzili</a>
        <a href="/add-guest">Dodaj gościa</a>
        <a href="/download-guest-list">Pobierz listę gości</a>
    </nav>
</header>
{{{body}}}
</body>
</html>